<h2 class="center">Parent Dashboard</h2>

<hr style="width:50% length:80%", size="10", color="green"><br>

<section id="parent-forecast">
<h4><strong>Weather Forecast</strong></h4><br>

  <%= form_with model: @parent, method: :get, local: true do |f| %>
  <%= f.text_field :q, placeholder: "enter city here" %>
  <%= f.submit "Search" %>
  <% end %><br><br>


  <% if params[:q].present? %>
  <h5> <%= params[:q].upcase %> </h5>
    <% @forecast.each do |data| %>
      <div class="card" style="width: 13rem;" id="daily-forecast" >
        <img class="card-img-top" src= "<%= data.daily_icon %>" alt="weather icon">
        <div class="card-body">
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Daily Average Temp:</b> <%= data.avg_temp %> F
            </li>
            <li class="list-group-item">
              <b>Description:</b> <%= data.description %>
            </li>
            <li class="list-group-item">
              <b>Date:</b> <%= data.date %>
            </li>
            <li class="list-group-item">
              <b>Chance of Rain:</b> <%= data.daily_chance_of_rain %> %
            </li>
            <li class="list-group-item">
              <b>Chance of Snow:</b> <%= data.daily_chance_of_snow %> %
            </li>
          </ul>
     </div>
       <% end %>
 <% end %>
</section>

  <section id="what-do-i-need">
    <h4><strong> What I Need Today</strong><h4><br>
      <div class="card" style="width: 18rem;" id="what-i-need" >
        <div class="card-body">
        </div>
        <% if params[:q].present? %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <%= @forecast.jacket? %>
            </li>
            <li class="list-group-item">
               <%= @forecast.sunscreen? %>
            </li>
            <li class="list-group-item">
              Waterbottle
            </li>
            <li class="list-group-item">
              Mask
            </li>
            <li class="list-group-item">
               Nap Blanket
            </li>
          </ul>
        <% end %>
   </div>
  </section><br><br>

<hr style="width:50% length:80%", size="10", color=black><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" id="reminder">
        <h5 class="card-title">My Children:</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" id="upcoming-events">
        <h5 class="card-title">Upcoming Events:</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
