<h2 class="center">Parent Dashboard</h2>

<hr style="width:50% length:80%", size="10", color="green"><br>

<section id="parent-forecast">
<h4><strong>Weather Forecast</strong></h4><br>

  <%= form_with model: @parent, method: :get, local: true do |f| %>
  <%= f.text_field :q, placeholder: "enter city here" %>
  <%= f.submit "Search" %>
  <% end %><br><br>


  <% if params[:q].present? %>
  <h5> <%= params[:q].upcase %> </h5>
    <% @forecast.each do |data| %>
      <div class="card" style="width: 13rem;" id="daily-forecast" >
        <img class="card-img-top" src= "<%= data.daily_icon %>" alt="weather icon">
        <div class="card-body">
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Daily Average Temp:</b> <%= data.avg_temp %> F
            </li>
            <li class="list-group-item">
              <b>Description:</b> <%= data.description %>
            </li>
            <li class="list-group-item">
              <b>Date:</b> <%= data.date %>
            </li>
            <li class="list-group-item">
              <b>Chance of Rain:</b> <%= data.daily_chance_of_rain %> %
            </li>
            <li class="list-group-item">
              <b>Chance of Snow:</b> <%= data.daily_chance_of_snow %> %
            </li>
          </ul>
     </div>
       <% end %>
 <% end %>
</section>

  <section id="what-do-i-need">
    <h4><strong> What I Need Today</strong><h4><br>
      <div class="card" style="width: 18rem;" id="what-i-need" >
        <div class="card-body">
        </div>
        <% if params[:q].present? %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <%= @forecast.first.jacket? %>
            </li>
            <li class="list-group-item">
               <%= @forecast.first.sunscreen? %>
            </li>
            <li class="list-group-item">
              Waterbottle
            </li>
            <li class="list-group-item">
              Mask
            </li>
            <li class="list-group-item">
               Nap Blanket
            </li>
          </ul>
        <% end %>
   </div>
  </section><br><br>

<hr style="width:50% length:80%", size="10", color=black><br>

<section id="events">
  <h4><strong> Upcoming Holidays</strong><h4><br>
    <div class="card" style="width: 18rem;" id="upcoming-events" >
      <div class="card-body">
      </div>
      <% if !@holidays.nil? %>
        <% @holidays.each do |holiday| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <%= holiday.name %>
               <%= holiday.date %>
            </li>
          </ul>
        <% end %>
      <% else %>
        <h5>No Holidays Upcoming</h5>
      <% end %>
 </div>
</section><br><br>
