<div class="container gray top-radius padding mb-1">
  <div class="row">
    <h2>Teacher Registration Form</h2><br><br>
  </div>
</div>

<div class="container gray bottom-radius padding">
  <div class="row center-it-all">
      <%= form_with model: @teacher, method: :post, local: true do |f| %>
      <%= f.hidden_field :role, value: :teacher %>

      <h5><%= f.label :first_name, 'First Name:' %></h5>
      <%= f.text_field :first_name, value: current_user.first_name, id: :first_name, class: "form-custom center-it-all" %>

      <br><br>

      <h5><%= f.label :last_name, 'Last Name:' %></h5>
      <%= f.text_field :last_name, value: current_user.last_name, id: :last_name, class: "form-custom center-it-all" %>

      <br><br>

      <h5><%= f.label :email, 'Email:' %></h5>
      <%= f.text_field :email, value: current_user.email, readonly: true, id: :email, class: "form-custom center-it-all" %>

      <br><br>

      <h5><%= f.label :phone_number, 'Phone Number:' %></h5>
      <%= f.text_field :phone_number, id: :phone_number, class: "form-custom center-it-all" %>

      <br><br>

      <h5><%= f.label :address, 'Address:' %></h5>
      <%= f.text_area :address, cols: 40, id: :address, class: "form-custom center-it-all" %>

      <br><br><br>

      <%= f.submit 'Create Profile', class: "btn btn-sm btn-white button-bg btn-outline-dark" %>
    <% end %>
  </div>
</div>
