<h2 class="center">Classroom Editor</h2>

<hr style="width:50% length:80%", size="10", color=black><br>

<section id="add-child">
<h4><strong>Add Child to Classroom</strong></h4><br>

  <%= form_with url: "/teachers/children", method: :post, local: true do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <%= f.text_field :birthday, placeholder: "Birthday" %>
  <%= f.submit "Add Child" %>
  <% end %><br><br>
</section>

<hr style="width:50% length:80%", size="10", color=black><br>

<section id="children">
  <h4><strong> Current Children</strong><h4><br>
    <div class="card" style="width: 18rem;" id="current-children" >
      <div class="card-body">
      </div>
      <% if !@children.nil? %>
        <% @children.each do |child| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
               <%= child.first_name %>
               <%= child.last_name %>
               <%= child.birthday %>
            </li>
          </ul>
        <% end %>
      <% else %>
        <h5>No Children</h5>
      <% end %>
 </div>
</section><br><br>
