<h2 class="center">Teacher Dashboard</h2>

<hr style="width:50% length:80%", size="10", color=black><br>

<section id="teacher-forecast">
<h4><strong>Weather Forecast</strong></h4><br>

  <%= form_with url: teachers_dashboard_path(current_user), method: :get, local: true do |f| %>
  <%= f.text_field :q, placeholder: "enter city here" %>
  <%= f.submit "Search" %>
  <% end %><br><br>

  <% if params[:q].present? %>
  <h5> <%= params[:q].upcase %> </h5>
    <% @forecast.each do |data| %>
      <div class="card" style="width: 13rem;" id="daily-forecast" >
        <img class="card-img-top" src= "<%= data.daily_icon %>" alt="weather icon">
        <div class="card-body">
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Daily Average Temp:</b> <%= data.avg_temp %> F
            </li>
            <li class="list-group-item">
              <b>Description:</b> <%= data.description %>
            </li>
            <li class="list-group-item">
              <b>Date:</b> <%= data.date %>
            </li>
            <li class="list-group-item">
              <b>Chance of Rain:</b> <%= data.daily_chance_of_rain %> %
            </li>
            <li class="list-group-item">
              <b>Chance of Snow:</b> <%= data.daily_chance_of_snow %> %
            </li>
          </ul>
       </div>
       <% end %>
 <% end %>
</section>

<hr style="width:50% length:80%", size="10", color=black><br>
