<!DOCTYPE html>
<html>
  <head>
    <title>Pre-Kinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light d-flex">
    <div class="container">
      <div class="logo">
        <a class="navbar-brand" href="<%= welcome_path %>">
          <%= image_tag '/../assets/logo.png', alt: 'logo', class: 'logo-navbar' %> Pre-Kinder
        </a>
      </div>
      <!-- <div class="m-auto">
        <form class="form-inline search-form">
          <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
        </form>
      </div> -->
      <div class="user-section">
        <% if user_signed_in? && current_user.role == 'teacher' %>
          <a href="<%= teachers_dashboard_path %>"><i class="fa fa-dashboard"></i></a>
          <a href="<%= teachers_attendance_path %>"><i class="fa fa-users"></i></a>
          <a><i class="fa fa-comment"></i></a>
          <a href="<%= "/teachers/classroom" %>"><i class="fa fa-plus-square"></i></a>
          <a href=" <%= teachers_profile_edit_path %> "><i class="fa fa-user"></i></a>
          <a href="<%= destroy_user_session_path %>"><i class="fa fa-sign-out"></i></a>
        <% elsif user_signed_in? && current_user.role == 'parent' %>
          <a href="<%= parents_path %>"><i class="fa fa-dashboard"></i></a>
          <a href="<%= parent_children_path(current_user) %>"><i class="fa fa-child"></i></a>
          <a><i class="fa fa-comment"></i></a>
          <a href=""><i class="fa fa-plus-square"></i></a>
          <a href=" <%= "/parents/edit" %>"><i class="fa fa-user"></i></a>
          <a href="<%= destroy_user_session_path %>"><i class="fa fa-sign-out"></i></a>
        <% elsif user_signed_in? && current_user.role.nil? %>
          <a href="<%= destroy_user_session_path %>><i class="fa fa-sign-out"></i></a>
          <a href="<%= root_path %>"></a>
        <% end %>
      </div>
    </div>
  </nav>

  <!--Main content-->
  <main class="container" style="min-height: 500px;">
    <%= render 'shared/flash' %><br>
    <%= yield %>
  </main><br><br><br><br><br><br>

  <!--Footer-->
  <footer class="container footer">
    <nav class="navbar d-flex">
      <ul>
        <li>ABOUT US
        </li>
        <li>SUPPORT</li>
        <li>APIs</li>
        <li>PRIVACY</li>
        <li>TERMS</li>
        <li>DIRECTORY</li>
        <li>PROFILES</li>
        <li>LANGUAGE</li>
      </ul>
      <p> © 2021 PRE-Kinder</p>
    </nav>
  </footer>
</body>
</html>
